:root {
   --color-neutral-light:#f0ecec;
   --color-neutral-medium:#9e8d8d;
   --color-neutral-dark:#392f2f;
   --color-neutral-theme1:#FF380D;
   --color-neutral-theme2:#FFB70D;
   --color-neutral-theme3:#FF7700;
}

body {
   font-family: Avenir, sans-serif;
   background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:Futura, Arial, sans-serif;
}

.navbar {
   background-color:var(--color-neutral-light);
   color:var(--color-neutral-theme1);
   line-height:var(--header-height);
}

.navbar h1 {
   font-size:1.5em;
   font-family: Futura, Arial, sans-serif;
   margin:0;
  }



.view-window .textblock {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.5em;
}

.card{
  padding:0;
}

.btn{
   width: fit-content;
   padding:1em;
   font-size:1em;
   font-family: futura;
}
   .btn.cta_primary{
   background-color:var(--color-neutral-theme1);
   color:var(--color-neutral-light);
   
}

   .btn.cta_secondary{
   background-color:var(--color-white);
   border:2px solid var(--color-neutral-theme1);
}

.cta_primary:hover{
  box-shadow: ;
  opacity: 0.5;
}
